/target
/classes
/checkouts
figwheel_server.log
resources/public/js/shrike/**
resources/public/js/shrike/*
node_modules
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.cljs_rhino_repl
.hgignore
.hg/
